# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn v2+
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Expo
.expo/
.expo-shared/

# React Native
ios/build/
android/build/
*.keystore
*.jks
*.hprof

# VS Code
.vscode/

# macOS
.DS_Store 